@import url("https://fonts.fontself.com/gE309jx/gilbert-color-bold-preview5.css");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.wrap {
  overflow: hidden;
}

.menu{
    z-index: 1;
}

a {
  text-decoration: none;
  color: inherit;
}

header{
    position: fixed;
    position: -webkit-fixed;
    top: 16px;
    right: 9px;
    width: 50px;
    height: 50px;
    z-index: 2;
}

.text-xxs {
  font-size: 0.5rem;
}

.text-xs {
  font-size: 0.75rem;
}

.text-sm {
  font-size: 0.875rem;
}

.text-md {
  font-size: 1rem;
}

.text-lg {
  font-size: 1.125rem;
}

.text-xl {
  font-size: 1.25rem;
}

.text-xxl {
  font-size: 1.875rem;
}

.text-facebook {
  color: #0000ff;
}

.text-twitter {
  color: #1DA1F2;
}

.bg-zan__red {
  background-color: #A61723;
}

.bg-zan__black {
  background-color: #222222;
}

.main-visual__image {
  width: 100%;
  object-fit: cover;
}

.arrow{
  font-size: 5rem;
  cursor: pointer;
}

@media (max-width: 575px) {
  .main-visual__image {
    width: 300px;
    height: 600px;
    object-fit: cover;
  }
}

.main-visual__logo {
  position: absolute;
  top: 0.05rem;
}

@media (max-width: 575px) {
  .main-visual__logo {
    left: 50%;
    position: absolute;
    top: 100px;
  }
}

.main-visual__text {
  position: absolute;
  top: 50%;
  right: 0%;
  font-size: 5rem;
  text-align: right;
  font-weight: bold;
}

@media (max-width: 575px) {
  .main-visual__text {
    font-size: 30px;
    top: 60%;
  }
}

.zan-logo {
  width: 300px;
  height: 300px;
}

@media (max-width: 575px) {
  .zan-logo {
    width: 170px;
    height: 170px;
  }
}

.navbar-toggler{
    border-radius: 0;
    background-color: rgb(216, 177, 79);
    width: 100%;
    height: 100%;
    transition: all .5s;
}

.navbar-toggler span {
    margin-left: 5px;
    position: absolute;
    right: 10px;
    height: 1px;
    background-color: #fff;
    transition: all .5s;
}

.navbar-toggler span:nth-of-type(1) {
    top: 12px;
    width: 60%;
}

.navbar-toggler span:nth-of-type(2) {
    top: 25px;
    width: 45%;
}

.navbar-toggler span:nth-of-type(3) {
    bottom: 12px;
    width: 30%;
}

.navbar-toggler.active span:nth-of-type(1) {
    -webkit-transform: translateY(12px) translateX(3px) rotate(-45deg);
    transform: translateY(12px) translateX(3px) rotate(-45deg);
    width: 70%;
}

.navbar-toggler.active span:nth-of-type(2) {
    opacity: 0;
    width: 0px;
}

.navbar-toggler.active span:nth-of-type(3) {
    -webkit-transform: translateY(-13px) translateX(3px) rotate(45deg);
    transform: translateY(-13px) translateX(3px) rotate(45deg);
    width: 70%;
}

.section-headline {
  margin: 2rem 0;
}

.section-headline-text {
  font-size: 4rem;
}

@media (max-width: 575px) {
  .section-headline-text {
    font-size: 30px;
    height: 30px;
  }
}

/* member-image */
.member-image {
  height: 40rem;
}

@media (max-width: 575px) {
  .member-image {
    height: 15rem;
  }
}

#about-image {
  position: relative;
  height: 50rem;
}

@media (max-width: 575px) {
  #about-image {
    width: 250px;
    height: 25rem;
    margin: 0 auto;
    text-align: left;
    overflow: hidden;
  }
}

#about-image img {
  top: 0;
  left: 0;
  position: absolute;
}

.about-card {
  position: absolute;
  width: 60%;
  top: 60%;
  left: 60%;
  font-size: 1.125rem;
}

@media (max-width: 575px) {
  .about-card {
    position: absolute;
    width: 90%;
    top: 55%;
    left: 30%;
    font-size: 0.75rem;
  }
}

.shukun {
  width: 800px;
  height: 700px;
  object-fit: contain;
}

@media (max-width: 575px) {
  .shukun {
    width: 250px;
    height: 250px;
  }
}

.member-image__tsuka {
  -webkit-clip-path: polygon(50% 100%, 100% 20%, 85% 0, 15% 0, 0 20%);
  width: 300px;
  height: 300px;
}

@media (max-width: 575px) {
  .member-image__tsuka {
    -webkit-clip-path: polygon(50% 100%, 100% 20%, 85% 0, 15% 0, 0 20%);
    width: 230px;
    height: 235px;
  }
}

.member-introduction {
  font-size: 1rem;
}

@media (max-width: 575px) {
  .member-introduction {
    font-size: 0.875rem;
  }
}

.sns-icon__item {
  font-size: 2rem;
  vertical-align: middle;
  margin: 0 0.05rem;
}

@media (max-width: 575px) {
  .sns-icon__item {
    font-size: 2rem;
  }
}

.activities-icon {
  width: 300px;
  height: 300px;
}

@media (max-width: 575px) {
  .activities-icon {
    width: 150px;
    height: 150px;
  }
}

.info-icon {
  width: 60px;
  height: 60px;
}

.study-icon {
  width: 60px;
  height: 60px;
}

.event-icon {
  width: 60px;
  height: 60px;
}

.activities-title {
  font-size: 1.25rem;
  margin: 0 0 2.5rem 1rem;
}

@media (max-width: 575px) {
  .activities-title {
    font-size: 1rem;
  }
}

.activities-text {
  font-size: 1.125rem;
  margin: 0 0.5rem 0 1rem;
}

@media (max-width: 575px) {
  .activities-text {
    font-size: 0.875rem;
  }
}

.footer-logo {
  width: 100px;
  height: 100px;
}

@media (max-width: 575px) {
  .footer-logo {
    width: 50px;
    height: 50px;
  }
}

.font-gilbert {
  font-family: gilbert-color-bold-preview5, sans-serif;
  color: #000000;
}

.fs-gilbert-color-bold-preview5 {
  color: #000;
}

.our-activities__info-card {
  transform: translate(30%);
}

@media (max-width: 575px) {
  .our-activities__info-card {
    transform: translate(72%);
    transition: all .5s;
  }
}

.our-activities__study-card {
  transform: translate(30%);
}

@media (max-width: 575px) {
  .our-activities__study-card {
    transform: translate(72%);
    transition: all .5s;
  }
}

.our-activities__event-card {
  transform: translate(30%);
}

@media (max-width: 575px) {
  .our-activities__event-card {
    transform: translate(72%);
    transition: all .5s;
  }
}

@media (max-width: 575px) {
  .our-activities__info-card.open {
    transform: translateZ(0);
  }
}

@media (max-width: 575px) {
  .our-activities__study-card.open {
    transform: translateZ(0);
  }
}

@media (max-width: 575px) {
  .our-activities__event-card.open {
    transform: translateZ(0);
  }
}

.fadein {
  opacity: 0;
  transform: translate(0, 50px);
  transition: all 1.5s;
}

.fadein.scrollin {
  opacity: 1;
  transform: translate(0, 0);
}



#content-items h2 {
  color: #555;
  font-size: 20px;
  font-weight: 600;
  display: inline-block;
  position: relative;
  left: 50%;
  transform: translateX(-50%);
  z-index: 5;
  overflow: hidden;
}

#content-items h2::before {
  width: 100%;
  height: 5px;
  position: absolute;
  bottom: 0;
  left: -100%;
  content: '';
  display: block;
  background: #ff3791;
}

#content-items li img{
  width: 290px;
  height: 430px;
  margin: 10px 40px 0;
  z-index: -1;
  transition: .4s;
  object-fit: cover;
}

/* #content-items li .center {
  width: 400px;
  height: 560px;
  margin: 20px 60px 0;
  transition: .7s;
  komenntoauto
  
} */

#content-items li.center img {
  width: 330px;
  height: 450px;
  object-fit: cover;
  object-position: center;
  filter: grayscale(0);
  transition: .7s;
  box-shadow: 20px 20px 0 rgba(255, 255, 255, 0.315);
  z-index: -2;
}

#content-items li.center h2 {
  color: #000;
  font-size: 30px;
  transition: .8s;
}

#content-items li.center h2::before {
  left: 0;
  transition: .4s;
}

.items-wrapper{
  padding:1em 0px;
  overflow : hidden;
}

.flexbox {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-flex-wrap: wrap;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
}

.box1 {
  -webkit-box-ordinal-group: 2;
  -ms-flex-order: 2;
  -webkit-order: 2;
  order: 2;
}

@media (max-width: 575px) {
  .box1 {
    -webkit-box-ordinal-group: 1;
    -ms-flex-order: 1;
    -webkit-order: 1;
    order: 1;
  }
}

.box2 {
  -webkit-box-ordinal-group: 1;
  -ms-flex-order: 1;
  -webkit-order: 1;
  order: 1;
}

@media (max-width: 575px) {
  .box2 {
    -webkit-box-ordinal-group: 2;
    -ms-flex-order: 2;
    -webkit-order: 2;
    order: 2;
  }
  /* レスポンシブ時のblogの画像の大きさの指定 */
  #content-items li img{
    width: 290px;
    height: 430px;
    margin: 10px 20px 0;
    z-index: -1;
    transition: .4s;
    object-fit: cover;
  }

}



